# Frontend environment variables

# Włącz tryb offline (mocki zamiast backendu)
VITE_OFFLINE=false

# URL gateway (zalecane do produkcji / docker-compose)
VITE_GATEWAY_URL=http://localhost:12001

# Bezpośredni URL do identity (opcjonalnie, jeśli omijamy gateway)
VITE_AUTH_URL=http://localhost:12002
VITE_IDENTITY_URL=http://localhost:12002

