# ==========================================
# EUREKA
# ==========================================
EUREKA_PORT=8761
EUREKA_NAME=eureka

# ==========================================
# GATEWAY
# ==========================================
GATEWAY_PORT=12001
GATEWAY_NAME=gateway

# ==========================================
# IDENTIFY
# ==========================================
IDENTIFY_PORT=12002
IDENTIFY_NAME=identify

#==========================================
# USER-SERVICE
#==========================================

USER_SERVICE_PORT=12004
USER_SERVICE_NAME=user-service

#==========================================
# MATCH-SERVICE
#==========================================

MATCH_SERVICE_PORT=12005
MATCH_SERVICE_NAME=match-service

# ==========================================
# NOTIFICATION
# ==========================================
NOTIFICATION_PORT=12003
NOTIFICATION_NAME=notification

EMAIL_NAME=#TODO - TWOJ EMAIL
EMAIL_PASS_CODE=#TODO - TWOJ KLUCZ GOOGLE

# ==========================================
# FOOTBALL-EXTERNAL-DATA-SERVICE
# ==========================================

API_FOOTBALL_URL=https://v3.football.api-sports.io/
API_FOOTBALL_KEY=#TODO - TWOJ KLUCZ DO API-FOOTBALL.COM
API_FOOTBALL_HEADER=x-apisports-key
FED_SERVICE_NAME=football-external-data-service
FED_SERVICE_PORT=12006



# ==========================================
# RABBITMQ
# ==========================================
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
RABBIT_CONTAINER=RabbitMQ
RABBIT_USERNAME=guest
RABBIT_PASSWORD=guest

# ==========================================
# REDIS
# ==========================================
REDIS_PORT=6379
REDIS_CONTAINER=redis

REDIS_USERNAME=root
REDIS_PASSWORD=

# ==========================================
# Database
# ==========================================

DB_PORT=3306
DB_CONTAINER=mysql
DB_IDENTIFY_NAME=identitydb
DB_PARAMETERS=?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=

# ==========================================
# JWT
# ==========================================
JWT_SECRET=lg8UfAf4xZ3y1NEREOl7FS6E4T72ZxWiVHXnpandIva8bpfCTlXZSWBMYHGhon3CMmkHTr9dAA1bYfditkYJ39
JWT_ACCESS_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=86400000