# ==========================================
# EUREKA
# ==========================================
EUREKA_PORT=8761
EUREKA_NAME=eureka

# ==========================================
# GATEWAY
# ==========================================
GATEWAY_PORT=12001
GATEWAY_NAME=gateway

# ==========================================
# IDENTIFY
# ==========================================
IDENTIFY_PORT=12002
IDENTIFY_NAME=identify
IDENTIFY_GRPC_PORT=9092
#==========================================
# USER-SERVICE
#==========================================

USER_SERVICE_PORT=12004
USER_SERVICE_NAME=user-service
USER_SERVER_GRPC_PORT=9094
#==========================================
# MATCH-SERVICE
#==========================================

MATCH_SERVICE_PORT=12005
MATCH_SERVICE_NAME=match-service

# ==========================================
# NOTIFICATION
# ==========================================
NOTIFICATION_PORT=12003
NOTIFICATION_NAME=notification

EMAIL_NAME=dkkd3046@gmail.com
EMAIL_PASS_CODE=


# ==========================================
# FOOTBALL-EXTERNAL-DATA-SERVICE
# ==========================================

API_FOOTBALL_URL=https://v3.football.api-sports.io/
API_FOOTBALL_KEY=
API_FOOTBALL_AUTH_HEADER=x-apisports-key
API_FOOTBALL_SQUADS_URL=players/squads
API_FOOTBALL_TEAM_URL=teams


FED_SERVICE_NAME=football-external-data-service
FED_SERVICE_PORT=12006

FED_GRPC_PORT=9090



# ==========================================
# RABBITMQ
# ==========================================
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
RABBIT_CONTAINER=RabbitMQ
RABBIT_USERNAME=guest
RABBIT_PASSWORD=guest

# ==========================================
# REDIS
# ==========================================
REDIS_PORT=6379
REDIS_CONTAINER=redis

REDIS_USERNAME=root
REDIS_PASSWORD=

# ==========================================
# Database
# ==========================================

DB_PORT=3306
DB_CONTAINER=mysql
DB_USERNAME=root
DB_PASSWORD=

DB_IDENTIFY_NAME=identitydb
DB_PARAMETERS=?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
DB_FED_NAME=feddb
DB_TEAM_MEMBER_NAME=team_member_db
DB_MATCH_NAME=football_match_db

# ==========================================
# JWT
# ==========================================
JWT_SECRET=lg8UfAf4xZ3y1NEREOl7FS6E4T72ZxWiVHXnpandIva8bpfCTlXZSWBMYHGhon3CMmkHTr9dAA1bYfditkYJ39
JWT_ACCESS_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=86400000