server:
  port: ${GATEWAY_PORT:12001}

spring:
  application:
    name: gateway

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: identity-service
              uri: lb://identity-service
              predicates:
                - Path=/api/auth/**
              filters:
                - StripPrefix=1

            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/api/user/**
              filters:
                - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://${EUREKA_NAME:localhost}:${EUREKA_PORT:8761}/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

gateway:
  auth:

    identity-base-uri: ${GATEWAY_IDENTITY_BASE_URI:http://localhost:${GATEWAY_PORT:12001}/api/auth}

    jwt-secret: ${JWT_SECRET:lg8UfAf4xZ3y1NEREOl7FS6E4T72ZxWiVHXnpandIva8bpfCTlXZSWBMYHGhon3CMmkHTr9dAA1bYfditkYJ39}

    redirect-on-unauthenticated: true

    public-paths:
      - /api/auth/**
      - /actuator/**
      - /health
      - /ready
      - /favicon.ico
      - /error

    cors-allowed-origins:
      - "http://localhost:4200"
      - "http://localhost:3000"
      - "https://twoja-domena.pl"
      - "http://localhost:${GATEWAY_PORT:12001}"
    max-allowed-request-per-route: 5

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: INFO
    org.springframework.security: INFO
    org.springframework.web.reactive: INFO
    com.polibuda.footballclub.gateway: DEBUG