server:
  port: ${GATEWAY_PORT:12001}

spring:
  application:
    name: gateway

  cloud:
    gateway:
      gateway:
        grpc:
          enabled: false
      server:
        webflux:
          routes:
            - id: identity-service
              uri: lb://identity-service
              predicates:
                - Path=/api/auth/**
              filters:
                - StripPrefix=1

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${GATEWAY_JWT_ISSUER_URI:http://${IDENTIFY_NAME:localhost}:${${IDENTIFY_PORT:12002}}}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://${EUREKA_NAME:localhost}:${EUREKA_PORT:8761}/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

gateway:
  auth:
    # URL do Identity Service (OAuth2 Authorization Server)
    identity-base-uri: ${GATEWAY_IDENTITY_BASE_URI:http://${IDENTIFY_NAME:localhost}:${IDENTIFY_PORT:12002}}
    # identyfikator klienta (SPA / frontend)
    client-id: ${GATEWAY_IDENTITY_CLIENT_ID:web-client}
    # standardowe zakresy żądane podczas logowania
    default-scopes: openid profile email
    # jeśli brak tokena -> 302 redirect do Identity; jeśli false -> 401 Unauthorized
    redirect-on-unauthenticated: true
    # endpointy publiczne
    public-paths:
      - /api/auth/**
      - /actuator/**
      - /health
      - /ready

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.security: INFO

jwt:
  secret: rcpc1UniSC86Oxjpaa94UqaSNvzGekLnOPhguY81VNS
  expiration: 3600000